<% if(username !== undefined){ %>
<form action="/logout" method="POST">
  Currently Login as: <b><%= username %></b> <input type="submit" value="logout">
</form>
<% } else{%>

<form action="/login" method="GET">
  <input type="submit" value="Login">
</form>
<form action="/register" method="GET">
  <input type="submit" value="Register">
</form>

<% } %>