<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body style="font-size:20px; padding:50px;">
    <form action="/register" method="POST" >
      <table>

        <tr>
          <th>
            <label for="Register">Register:</label>
          </th>
        </tr>

        <tr>
          <th>
            <a style="font-size:12px;"">Email:</a>
          </th>
          <th>
            <input id="email"
                   type="text"
                   name="email"
                   placeholder="example@example.com"
                   style="width: 300px">
          </th>
        </tr>
          <th>
            <a style="font-size:12px;">Password:</a>
          </th>
          <th>
            <input id="passowrd"
                   type="text"
                   name="password"
                   placeholder="************"
                   style="width: 300px">
        </th>
        <tr>
          <th>
          </th>
          <th>
            <input type="submit" value="Submit">
          </th>
        </tr>
      </table>
    </form>
  </body>
</html>