<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp</title>
</head>
<header>
  <% include ./partials/_header %>
</header>

<body>
  <ul style="font-size:12px; padding:50px;>
  <% for(link in urls){%>
    <%if (urls[link].id === id){ %>
      <li>
      <form method=" POST " action="/urls/<%=link%>/delete" >
    <%= `${link} --> ${urls[link].url}`%>
      <a href="/urls/<%=link%>">edit</a>
      <button type="submit">Delete</button>
      </form>
      </li>
      <% } %>
        <% } %>
          <ul>
            <br />
            <a href="/urls/new"> new URL </a>
</body>

</html>